.Form {
  width: 360px;
  display: flex;
  flex-flow: column nowrap;
  
  .FormField {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .FormInputContainer {
      flex-grow :3;
      height: 50px;

      .FormInput {
        width: 100%;
        height: 30px;
        background-color: $Color5;
        border: 1px solid $Color3;
        border-radius: 3px;
        font-size: 1em;
        padding: 5px;
  
        &.InputError {
          border: 1px solid $Color7;
          background: $Color8;
        }
      }

      .ErrorMsg {
        font-size: 0.8em;
        color: $Color7;
        margin-top: 2px;
      }
    }

    .FormLabel {
      display: flex;
      align-items: flex-start;
      padding-top: 5px;
      width: 60px;
      flex-grow: 1;
      text-transform: capitalize;
      letter-spacing: .1em;
    }

    
  }

  .BtnSubmit {
    background: $Color6;
    color: $Color1;
    border-radius: 15px;
    border: none;
    padding: 10px;
    font-size: 1em;
    letter-spacing: .1em;
    margin-top: 20px;
  }
}