* {
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  outline: none;
  box-sizing: border-box;
}

body {
  color: $Color2;
  font-family: $Font1;
  background: $Color1;
}

.Page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  min-width: 320px;
}

.Main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-bottom: 1px solid $Color3;
}

.WidthPadding {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
}

.HeightPadding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.Icon {
  height: 50px;
  width: 50px;
  padding: 10px;
  cursor: pointer;
}

.BodyOverlay {
  display: none;
  background: $Color2;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 300ms ease;

  &.Visible {
    opacity: .7;
    display: block;
  }
}

.SlidePanel {
  width: 240px;
  background-color: $Color1;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -240px;
  transition: left 400ms ease 0ms;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px 30px;
  box-sizing: border-box;

  &.Open {
    left: 0;
  }

  .Cancel {
    margin-left: auto;

    .Close {
      padding: 0;
      height: 20px;
      width: 20px;
    }
  }
}
