$Font1: 'Montserrat', sans-serif;

$Color1: #ffffff; /* white */
$Color2: #000000; /* black */
$Color3: #EEEDEC; /* light grey */
$Color4: #C6C4C2; /* medium grey */
$Color5: #f5f8fa; /* very light grey */
$Color6: #6ab734; /* green */
$Color7: #ff0033; /* error red */
$Color8: #ffe0e0; /* error pink */

// Components
@import "./Header.scss";
@import "./Navigation.scss";
@import "./Forms.scss";

// Pages
@import "./Add.scss";

// General
@import "./General.scss";
@import "./MediaQueries.scss";
