.Navigation {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;

  .NavLink {
    margin-bottom: 12px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: $Color2;
    }
  }
}